<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="views.AgregarClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="views.EliminarTipoDeMaquinariaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.EditarTipoDeMaquinariaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.ConsultarTipoDeMaquinariaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.AgregarTipoDeMaquinariaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.ConsultarClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.ConsultarMaquinaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.EliminarMaquinaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.AgregarMaquinaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.MenuGestionSistemaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.EditarMaquinaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.EliminarClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="views.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>